[Unit]
Description=API Server for Klipper %i
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User={{ system_user }}
SupplementaryGroups=moonraker-admin
WorkingDirectory={{ install_dir }}/moonraker

ExecStart={{ install_dir }}/moonraker-env/bin/python {{ install_dir }}/moonraker/moonraker/moonraker.py -d {{ install_dir }}/printer_data_%i
Restart=always
RestartSec=10
