ffmpeg:
  hw: "-vf format=yuv420p -c:v h264_v4l2m2m"

streams:
{% for printer in printers %}
{% if printer.usb.camera is defined %}
  {{ printer.name }}: "ffmpeg:/dev/video_{{ printer.name }}#video=hw"
{% endif %}
{% endfor %}

webrtc:
  ice_servers:
    - urls: ["{{ stun_server }}"]
    - urls: ["{{ turn_server }}"]
      username: "{{ turn_user }}"
      credential: "{{ turn_secret['content'] | b64decode | trim }}"

api:
  listen: "127.0.0.1:1984"
